  @media screen and (min-width: 1000px) {
    body{
        margin: 0px;
    }
    .query {
        margin: 0 auto;
        max-width: 1000px;
        overflow: auto;
        padding: 10px;
        background: #f4f5f7;
    }

    .search {
        display:inline-block;
    }

    #random {
        padding: 9px;
        border: none;
        color: white;
        background-color: dodgerblue;
        border-radius: 5px;
        margin-left: 10px;
    }

    #search-input {
        padding: 9px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        float: left;
        background-color: darkviolet;
        color: white;
        outline: none;
        border: none;
    }

    #search-input::placeholder {
        color: white;
    }

    #search-button {
        padding: 9px;
        color: white;
        background-color: dodgerblue;
        border-bottom-right-radius: 15px; 
        border-top-right-radius: 15px;
        border: none;
    }

    .results {
        max-width: 1000px;
        margin: 0px auto;
        border: 10px solid #f4f5f7;
        background-color: #f4f5f7;
    }

    .footer {
        max-width: 1000px;
        margin: 0px auto;
        padding-top: 10px;
        padding: 10px;
        background: #f4f5f7;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        text-align: right;
    }

    .result {
        padding: 7px;
        border: 2px solid blue;
        border-radius: 5px;
        margin: 3px;
        background-color: #e3e7ed;
        color: black;
    }

    .results > a {
        text-decoration: none;
    }

    .result:hover {
        background-color: azure;
    }

    .md {
        color: chocolate;
    }
      
      .before {
          text-align: center;
          margin-top: 200px;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
      }
}

@media screen and (max-width:999px) {
    body {
        margin: 0px;
    }
    
    .query {
        padding: 10px;
    }
    
    .results {
        padding: 10px;
    }
    
    .result {
        padding: 7px;
        margin-bottom: 17px;
        border-radius: 2px;
        box-shadow: 0px 0px 5px darkviolet;
    }
    
    .results > a {
        text-decoration: none;
    }
    
    .footer {
        padding: 10px;
        text-align: center;
        background-color: bisque;
        font-size: 2em;
    }
    
    .search {
        display:inline-block;
    }
    
    #search-input {
        outline: none;
        border: none;
        padding: 7px;
        background-color: darkviolet;
        border-bottom-left-radius: 18px;
        border-top-left-radius: 18px;
        color: white;
        float: left;
        font-size: 2em;
    }
    
    #search-input::placeholder {
        color: white;
    }
    
    #search-button {
        padding: 7px;
        border: none;
        font-size: 2em;
        margin-right: 10px;
        background-color: dodgerblue;
        color: white;
        border-bottom-right-radius: 18px;
        border-top-right-radius: 18px;
    }
    
    #random {
        padding: 7px;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 2em;
        background-color: dodgerblue;
    }
    
    .md {
        color: crimson;
    }
    
    .before {
        margin-top: 300px;
        overflow: auto;
        text-align: center;
    }
}

.result:hover {
    box-shadow: 0px 0px 10px darkviolet;
}